# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы логов
*.log

# Игнорировать файлы данных
*.xlsx

# Игнорировать файлы с зависимостями
*.pyc
__pycache__/

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/